* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: rgb(186, 238, 238);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.profile-image {
    width: 120px;
    height: 150px;
    border: 3px solid teal;
    border-radius: 50%;
    float: left;
    margin-left: 60px;
    margin-top: 20px;
}

.header-bio {
    float: left;
    padding: 30px;
    margin-left: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: teal;
}

.header-contact {
    float: right;
    padding: 40px;
}

.header-contact a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

.header-contact a:hover {
    color: rgb(221, 89, 89);
}

.div-clear {
    clear: both;
}

hr {
    width: 100%;
    border: 5px solid teal;
    border-bottom: none;
    margin: 10px auto;
}

/*----------------------
main section
-----------------------*/
#personal-section {
    margin: 0;
}

.content {
    width: 100%;
    margin-bottom: 20px;
}

.left-content {
    width: 25%;
    float: left;
}

.right-content {
    width: 75%;
    float: right;
}

.right-content div {
    padding-bottom: 10px;

}

.right-content div h4 {
    font-weight: bold;
}

.common-hr {
    width: 100%;
    border: solid black 2px;
    border-bottom: none;
    margin: 20px auto;
}

/*----------------------
Educational section
-----------------------*/



/*----------------------
Training section
-----------------------*/

.right-content-left {
    float: left;
    width: 50%;
}

.right-content-right {
    float: right;
    width: 50%;
}




.main-footer{
    width:100%;
}
.footer-content{
    
    background-color: black;
    padding: 10px;

}
.footer-content .link_content{
    margin: 10px auto;
    text-align: center;
}
.footer-content .link_content a{
  color: white;
  text-decoration: none;
}
.footer-content .link_content a:hover{
    color: orange;
   
  }
  .copy-content{
    color: gray;
    text-align: center;
  }